{{#if this.isCustomHomepage}}
<section class="course-overview1">
<!DOCTYPE html>
    <html>
    <head>
        <style>
            p {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <p>Hello!</p>
        <p>We're offline for a bit to put some finishing touches</p>
        <p>on the Republic of Green Community</p>
        <p>We will be online in a few days.</p>
        <p>Please check back soon!.</p>
    </body>
    </html><p style="text-align: center;">
  </section>
{{/if}}
